{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTOR DE GRUPOS - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <header class="header">
        <div class="icon"></div>
        <div class="title">
            <h1>{{ "Gestor de Grupos" | upper }}</h1>
            <h2>{% block section_title %}{% endblock %}</h2>
        </div>
        <div class="actions">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
            {% else %}
                <p>Bienvenid@ <b>{{user.username}}</b></p>
                <a class="logout" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </header>
    <nav class="nav">
        <ul>
            <li><a class="hover-link" href="{% url 'index' %}">Home</a></li>
            {% if user.is_authenticated %}
                <li><a class="hover-link" href="{% url 'eventos_alta' %}">Alta Evento</a></li>
            {% endif %}
            {% if perms.core.add_persona %}
                <li><a class="hover-link" href="{% url 'personas_alta' %}">Alta Persona</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a class="hover-link" href="{% url 'personas_listado' %}">Listado Personas</a></li>
                <li><a class="hover-link" href="{% url 'calendario_individual' %}">Calendario Individual</a></li>
                <li><a class="hover-link" href="{% url 'grupos_alta' %}">Alta Nuevo Grupo</a></li>
                <li><a class="hover-link" href="{% url 'grupos_listado' %}">Listado Grupos</a></li>
                {% comment %} <li><a class="hover-link" href="{% url 'Calendario de grupo' %}">Calendario de Grupo</a></li> {% endcomment %}
            {% else %}
                <li><a class="hover-link" href="{% url 'personas_alta' %}">Registrate</a></li>
            {% endif %}
            <li><a class="hover-link" href="{% url 'contacto' %}">Contáctanos</a></li>
        </ul>
    </nav>
    <main>

        {% block notif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block content2 %}
        {% endblock %}
    </main>

    {% block horario_results %}
    <div id="horario-results">
        {% comment %} <h3>Horarios Libres Compartidos</h3> {% endcomment %}
    </div>
    {% endblock %}
    <footer>
        {% include "core/footer.html" %}
    </footer>

    {% block extra_script %}
    {% endblock %}
</body>

</html>