{% extends "core/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/calendario_individual.css' %}">
{% endblock %}
{% block title %}Calendario Individual{% endblock %}

{% block content %}
<section>
    <div class="p-5">
        <h2 class="mb-4">Calendario</h2>
        <div class="card">
            <div class="card-body p-0">
                <div id="calendar"></div>
            </div>
        </div>
    </div>

    <!-- calendar modal -->
    <!-- <div id="modal-view-event" class="modal modal-top fade calendar-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
                    <div class="event-body"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div> -->
</section>
{% endblock %}

{% block horario_results %}
{% endblock %}

{% block extra_script %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <script src="{% static 'core/js/calendario_individual.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let calendarUI = document.getElementById('calendar');
            let calendar = new FullCalendar.Calendar(calendarUI,{
                    headerToolbar: {
                        left: 'dayGridMonth,timeGridWeek,timeGridDay',
                        center: 'title',
                        right: 'today prev,next'
                    },
                    buttonText: {
                        today:    'Hoy',
                        month:    'Mes',
                        week:     'Semana',
                        day:      'Dia',
                        list:     'Lista'
                    },
                    navLinks: true, // can click day/week names to navigate views
                    dayMaxEvents: true, // allow "more" link when too many events
                    //initialView: 'listDay',
                    events: [
                        {% for evento in event_list %}
                            {
                                title: '{{ evento.nombre}}',
                                description: '{{ evento.descripcion }}',
                                start: '{{ evento.inicio | date:"Y-m-d H:i:s" }}',
                                end: '{{ evento.fin | date:"Y-m-d H:i:s" }}',
                            },
                        {% endfor %}
                    ]
            });
            calendar.render();
            calendar.setOption('locale','es');
        });
    </script>
{% endblock %}