{% extends "core/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/alumnos_listado.css' %}">
{% endblock %}

<main>
{% block title %}Listado Integrantes{% endblock %}
{% block section_title %}Listado Integrantes{% endblock %}
{% block content %}
    <h2>2023</h2>
    <ul>
        {% for nombre_integrante in listado_integrantes %}
            <li>
                <p>{{ nombre_integrante | title }}</p>
            </li>
        {% empty %}
            <p>Sin integrantes inscriptos</p>
        {% endfor %}
    </ul>

{% block horario_form %}
    <div id="horario-form">
        <h3>Cargar Horario</h3>
        <form method="post" action="{% url 'cargar_horario' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cargar</button>
        </form>
    </div>

    {% endblock %}
    {% if cant_inscriptos > 0 %}
        <p>Cantidad de inscriptos: {{ cant_inscriptos }}</p>
    {% else %}
        <p>No hay inscritos</p>
    {% endif %}
{% endblock %}
</main>


