{% extends "core/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/grupos_listado.css' %}">
{% endblock%}


{% block title %}Listado de grupos{% endblock %}
{% block section_title %} {% endblock %}

{% block content %}
    <table class='tabla'>
        <tr>
            <th>Nombre</th>
            <th>Detalle</th>
        </tr>
        {% for grupo in listado_grupos %}
            <tr>
                <td>{{ grupo.nombre | title }}</td>
                <td><a href="{% url 'grupos_detalle' grupo.id %}">Integrantes</a></td>
            </tr>
        {% empty %}
            <p>Sin grupos registrados</p>
        {% endfor %}
        <tfoot>
            <tr>
                <td colspan="2">
                    {% if listado_grupos.count > 0 %}
                        <p>Cantidad de grupos registrados: {{listado_grupos.count}}</p>
                    {% else %}
                        <p>No hay grupos registrados</p>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}

