{% extends "core/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/grupos_detalle.css' %}">
{% endblock%}


{% block title %}Detalle de grupos{% endblock %}
{% block section_title %} Detalle Grupo {% endblock %}
{% block content %}
<h3> Nombre del grupo: {{ nombre_grupo }} </h3>
{% endblock %}

{% block content2 %}
<h4>Lista de Integrantes:</h4>
<ul>
    {% for integrante in lista_integrantes %}
        <li>
            <p>{{ integrante }}</p>
        </li>
    {% empty %}
        <p>Grupo vacío</p>
    {% endfor %}
</ul>

    {% if lista_integrantes.count > 0 %}
        <p>Cantidad integrantes del grupo: {{lista_integrantes.count}}</p>
    {% else %}
        <p>Grupo sin integrantes registrados</p>
    {% endif %}
{% endblock %}

