<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Integrante</title>
</head>
<body>
    <header>
        <h1>Detalles del Integrante</h1>
    </header>
    <main>
        <h2>Detalles del integrante:</h2>
        <p>Nombre: {{ nombre_integrante }}</p>
        <!-- Puedes agregar más detalles del integrante aquí si lo deseas -->
    </main>
    <footer>
        <p>Pie de página</p>
    </footer>
</body>
</html>
